@{
    ViewBag.Title = "Home Page";
}
@using DFF.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}


<div class="jumbotron" style="background: url(https://static.pexels.com/photos/5876/food-salad-healthy-vegetables.jpg); background-size: cover" ;>

    @*<h2>@ViewBag.Title.</h2>*@

    <div class="form-horizontal">
        
            <div class="col-md-12" style="background-color:rgba(225,225,225,0.9); padding-top:25px; position:center;">
                <img src="https://lh3.googleusercontent.com/-YwF_fZkUjjg/WAUU3leTeAI/AAAAAAAAAfc/doPXci_WnT4sxydnVo5ujniKaal9P8aMgCL0B/w795-d-h398-p-rw/logo2.png" alt="DFF Logo" style="width:280px;height:140px;">
                <h3 style="font-style:italic; font-weight:bold; position:center;"> "Food doesn’t have to  go to the trash bin." </h3>

                <section id="loginForm">
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                        @Html.AntiForgeryToken()
                        
                        <hr />
                        <p><a href="/Donations" style="color:#1360a2">View Donations</a> | <a href="/Donations/Create" style="color:#1360a2">Post A Donation</a></p>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-group">           
                                        @Html.LabelFor(m => m.Email, new { @class = "col-md-6 control-label" })
                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control col-md-offset-4" })
                                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })            
                                </div>
                            </div>

                                <div class="col-md-8">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Password, new { @class = "col-md-7 control-label col-md-offset-0" })
                                        @Html.PasswordFor(m => m.Password, new { @class = "form-control col-md-offset-4" })
                                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                      
                        <div class="col-md-7 col-md-offset-1" style="margin-top:15px;">
                            <div class="form-group">
                                <input type="submit" value="Sign in" class="btn-linkedin"><br />
                                <p>Not a member? <a href="/Account/Register" style="color:#1360a2;">Join Now!</a></p>
                            </div>
                        </div>
                      
                            <div class="col-md-4" style="margin-left:-90px;margin-top:-195px;">
                                <div class="form-group">
                                    <section id="socialLoginForm">
                                        @Html.Partial("../Account/_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                                    </section>
                                </div>
                            </div>

                        </div>
                    }
                </section>

                </div>
        </div>
    </div>
        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }


       


