@{
    ViewBag.Title = "Home Page";
}
@using DFF.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}


<div class="jumbotron" style="background: url(https://static.pexels.com/photos/5876/food-salad-healthy-vegetables.jpg); background-size: cover" ;>

    @*<h2>@ViewBag.Title.</h2>*@

        <div class="row" style="text-align:center;">
            <div class="col-md-8" style="background-color:rgba(192,192,192,0.9); padding-top:25px; position:center;">
                <img src="https://lh3.googleusercontent.com/-YwF_fZkUjjg/WAUU3leTeAI/AAAAAAAAAfc/doPXci_WnT4sxydnVo5ujniKaal9P8aMgCL0B/w795-d-h398-p-rw/logo2.png" alt="DFF Logo" style="width:280px;height:140px;">
                <h3 style="font-style:italic; font-weight:bold; position:center;"> "Food doesn’t have to  go to the trash bin." </h3>
                <section id="loginForm">
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                        @Html.AntiForgeryToken()
                        @*<h4>Use a local account to log in.</h4>*@
                        <hr />
                        <p><a href="Donations" style="color:#1360a2">View Donations</a> | <a href="Donations/Create" style="color:#1360a2">Post A Donation</a></p>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label col-md-offset-3 column text-left" })  
                           
                            <div class="col-md-10 col-md-offset-3 column">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label col-md-offset-3 column" })
                            <div class="col-md-10 col-md-offset-3 column">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <div class="col-md-10" style="text-align:center">
                                <input type="submit" value="Sign in" class="btn-linkedin"><br />
                                <p>Not a member? <a href="/Account/Register" style="color:#1360a2">Join Now!</a></p>
                            </div>
                        </div>    

                        @* Enable this once you have account confirmation enabled for password reset functionality
                            <p>
                                @Html.ActionLink("Forgot your password?", "ForgotPassword")
                            </p>*@
                    }
                </section>
            </div>
            <div class="col-md-4" style="color:white; font-weight:bold;">
                <section id="socialLoginForm">
                    @Html.Partial("../Account/_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                </section>
            </div>
        </div>


    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }

    @*<p class="lead">Pick an option below: </p>*@
    @*<p><a href="~/Customer" class="btn btn-primary btn-lg">View Listings &raquo;</a>*@ @*<a href="~/Customer" class="btn btn-primary btn-lg">Join Now &raquo;</a></p>*@

    @*<p><a href="http://localhost:62520/Customer/Add" class="btn btn-primary btn-lg">Add New Customer &raquo;</a></p>
        <p><a href="http://localhost:62520/Customer/Delete" class="btn btn-primary btn-lg">Delete Data&raquo;</a></p>
        <p><a href="http://localhost:62520/Customer/Modify" class="btn btn-primary btn-lg">Modify Data&raquo;</a></p>*@
</div>

@*@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>*@