@model DFF.Models.DonationData

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DonationData</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FoodType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FoodType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PickupDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PickupDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PickupTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PickupTime)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DonationID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
