@model DFF.Models.DonationData

@{
    ViewBag.Title = "Details";
}

<!DOCTYPE html>
<html>
<head>
    <link href="~/Content/Style.css" rel="stylesheet" type="text/css" />
</head>

<body>

    <div id="instructions" class="paper" style="padding-bottom:200px;">

        <h2>Donation Details</h2>

        <div>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Email)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Email)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Phone)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Phone)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.FoodType)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FoodType)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Location)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Location)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.PickupDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.PickupDate)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.PickupTime)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.PickupTime)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ExpireTime)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ExpireTime)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.shortDescription)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.shortDescription)
                </dd>
            </dl>
        </div>
        <p>
            @Html.ActionLink("Back to List", "Index") @*| @Html.ActionLink("I want this!", "Create", "Receivers")*@
            @*@Html.ActionLink("I want this!", "Create", "Receivers", new { @id = item.DonationID }, null)*@
        </p>
    </div>
</body>
</html>