@model DFF.Models.RegisterEventModel


@{
    Layout = null;
}
<h2>RegisterEvent</h2>

<html>
<head>
    <style>
        img {
            width: 75%;
        }
    </style>
    <meta name="viewport" content="width=device-width" />
    <title>TheForm</title>
</head>
@{
    ViewBag.Title = "RegisterEvent";
}

<body>
    <img src=https://static1.squarespace.com/static/5319e7a7e4b0ee73efefb8ed/t/538fd617e4b06d663cf6e8b1/1434558163094/Catering+copy.jpg alt="HTML5 Icon" style="width:140px;height:128px;">

    @using (Html.BeginForm())
    {
        @Html.ValidationSummary()

        <p class="formnote">
            <b>Detroit Food Finder</b>
               </p>

        <p>Your Name or Company: @Html.TextBoxFor(x => x.Name)</p>
        <p>Your email: @Html.TextBoxFor(x => x.Email)</p>
        <p>Your Contact phone #: @Html.TextBoxFor(x => x.Phone)</p>
        <p>Date of Event: @Html.TextBoxFor(x => x.Date)</p>
        <p>Time to pickup: @Html.TextBoxFor(x => x.Time)</p><br />

        <p>
        Type of Food you are Donating: @Html.TextBoxFor(x => x.TyofIDFood)
        </p>

                <input type="submit" value="Submit Form Now" />
    }
</body>

</html>


